.hr-clean {
  .hr {
    &-background:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparentize($background, 0.65);
    }
    &-content {
      max-width: 60%;
      font-family: 'Helvetica Neue', sans-serif;
    }
    &-title {
      font-size: 3rem;
      font-weight: 300;
      margin-bottom: 1rem;
      color: $white;
    }
    &-description {
      font-size: 1.1rem;
      font-weight: 300;
      color: darken($white, 10%);
    }
  }
}