.hr-clean {
  .hr {
    &-background:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparentize($background, 0.65);
    }
    &-content {
      max-width: 60%;
      font-family: 'Helvetica Neue', sans-serif;
    }
  }
}