html, body {
  margin : 0;
  padding: 0;
}

// navbar
.navbar {
  background-color: #5F52FF;

  &-brand {
    padding: 0 1rem;
    color: #ffffff;
    font-size: 30px;
  }
  .nav {
    &-link {
      color: #ffffff;
      font-size: 36px;
    }
    &-item {
      padding: 0 1rem;
    }
  }
}

// content
.content {
  .row {
    margin: 0;
    display: flex;
    min-height: calc(100vh - 70px);
  }
}
// canvas
.canvas {
  padding: 0;
  height: calc(100vh - 70px);
  position: relative;
  background-color: transparent;
  overflow: scroll;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/graphy.png");
  }
}
// properties
.properties {
  padding: 0;
  background-color: #FAFAFA;
}